.light-header {
  font-weight: 200;
}

main.content {
  background-color: #EFEFEF;
}

.main-content {
  background-color: white;
}

.custom-table {
  border-top: 0;
  display: inline-block;
  .custom-row {
    border: 0;
    border-bottom: 1px solid #eaeaea;
    td {
      border: 0;
      margin-top: 3%;
    }
  }
}

.search-box {
  padding: .75em;
  border: 1px solid lightgray;
  text-align: left;
  &:hover {
    cursor: text;
  }
}

.search-submit {
  padding: 10px;
}

.doc-header {
  display: block;
}